@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 110%;
  }
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
  .dark body {
    @apply bg-gray-950 text-gray-100;
  }

  :root {
    --scrollbar-track: theme('colors.gray.200');
    --scrollbar-thumb: theme('colors.gray.400');
  }
  .dark {
    --scrollbar-track: theme('colors.gray.900');
    --scrollbar-thumb: theme('colors.gray.600');
  }

  ::-webkit-scrollbar {
    @apply w-1.5;
  }
  ::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 9999px;
  }
}
